@use "_instruments" as *;

.Articles {
  padding-bottom: resizing(80, 40);
  &__container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: resizing(20, 10);
    margin: 0 10px;
  }
}

.article-card {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(255, 230, 167);
  border-radius: $borderRad;
  background: $productBlockColor;
  max-width: 360px;
  padding: resizing(46, 30) resizing(27, 15);
  transition: all 0.4s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.05);
    @media (max-width: 768px) {
      transform: scale(1);
    }
  }

  &__number {
    display: inline-block;
    color: rgba(67, 40, 24, 0.9);
    font-size: resizing(94, 85);
    font-weight: 800;
    line-height: resizing(74, 65);
    text-transform: capitalize;
    margin-bottom: resizing(36, 25);
  }
  &__title {
    color: $titleColor;
    font-size: resizing(24, 20);
    font-weight: 700;
    line-height: resizing(30, 25);
    text-transform: capitalize;
    margin-bottom: resizing(14, 10);
  }
  &__text {
    color: $textDarkColor;
    font-size: rem(16);
    font-weight: 400;
    line-height: resizing(26, 20);
    max-width: 304px;
    margin-bottom: resizing(36, 25);
  }
  &__button {
    color: rgb(111, 29, 27);
    font-size: rem(16);
    font-weight: 800;
    line-height: rem(20);
    letter-spacing: calc(0.3 * 1em);
    margin-left: 8px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    &:hover {
      transition: all 0.3s ease 0s;
      letter-spacing: calc(0.2 * 1em);
      font-size: rem(17);
      color: rgb(139, 22, 20);
    }
  }
}
.btn-close-modal {
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  &:hover {
    &::after,
    &::before {
      height: 3px;
    }
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -10px;
    width: 30px;
    height: 2px;
    background-color: rgba(67, 40, 24, 0.9);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.back-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
  &.show {
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
  }
  .article-card {
    margin: 0 10px;
    &:hover {
      transform: scale(1);
    }
  }
}
