.block1-bg {
  display: block;
  position: fixed;
  top: 74px;
  left: 0;
  width: 100%; //1902
  height: 100%; //800
  object-fit: cover;
  z-index: -1;
}
.block1 {
  height: 97vh;
  &__body {
  }

  &__title {
  }

  &__strong {
  }

  &__sub-title {
  }
}
