@use "./instruments" as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $brownColor;
  color: $textWhiteColor;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    max-width: none;
    width: 100%;
  }

  &__container {
    position: relative;
    z-index: 4;
    max-width: $maxWidthPage;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $brownColor;
    height: 74px;
    @include fluid-text("gap", 95, -40);
    @include fluid-text("padding-left", 123, -70);
    @include fluid-text("padding-right", 123, -70);
    &.open {
      .header {
        position: relative;
        z-index: 10;
        &__logo-text {
          left: 40px;
          transition: all 1s ease 0s;
          @media (max-width: 375px) {
            opacity: 0;
            visibility: hidden;
          }
        }
        &__body {
          transition: left 1s ease 0s;
          left: 0;
        }
        &__menu-icon {
          position: relative;
          z-index: 11;
          animation: menuIcon 1s forwards;
        }
        &__search-icon {
          @media (max-width: 375px) {
            transition: margin-right 1s ease 0s;
            margin-right: 50px;
          }
        }
        &__list {
          gap: resizing(20, 10, 768);
        }
      }
    }
  }

  &__body {
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: -200px;
      padding-top: 60px;
      height: 100%;
      width: 200px;
      background-color: $brownColor;
      transition: all 1s ease 0s;
    }
  }

  &__logo-text {
    height: 30px;
    width: 190px;
    transition: all 1s ease 0s;
    @media (max-width: 768px) {
      position: relative;
      top: 0;
      left: 0;
      order: 1;
    }
  }

  &__menu-icon {
    display: none;
    @media (max-width: 768px) {
      fill: $bodyColor;
      display: block;
      position: relative;
      left: 80px; /* Початкове значення для плавного переходу */
      transform: rotate(0deg);
      animation: menuIcon2 1s forwards;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include fluid-text("gap", 40, 0);
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      transition: all 0.3s ease 0s;
      text-shadow: 1.5px 1.5px 1.5px $footerColor;
      transform: scale(1.05);
    }
  }
  &__input {
    position: absolute;
    top: 0px;
    right: 300px;
    overflow: hidden;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease 0s;
    & input {
      padding: 6px;
      border-radius: 17px;
      border: 2px solid $brownColor;
      box-shadow: 1px 2px 7px 1px rgba(100, 74, 52, 0.801);
      outline: none;
    }
    &.open {
      top: 80px; //60
      z-index: -1;
      overflow: visible;
      visibility: visible;
      transition: all 0.3s ease 0s;
    }
  }

  &__search-icon {
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
    &:hover {
      animation: searchIcon 1.3s forwards;
    }
    @media (max-width: 768px) {
      order: 2;
      margin-right: 20px;
      transition: margin-right 1s ease 0s;
    }
  }
}
@keyframes searchIcon {
  0% {
    transform: rotate(0deg);

    /* Початкова позиція */
  }
  100% {
    transform: rotate(-360deg);

    /* Кінцева позиція */
  }
}
@keyframes menuIcon {
  0% {
    left: 0;
    transform: rotate(0deg);

    /* Початкова позиція */
  }
  100% {
    left: 80px;
    transform: rotate(360deg);

    /* Кінцева позиція */
  }
}
@keyframes menuIcon2 {
  0% {
    left: 80px;
    transform: rotate(0deg);

    /* Початкова позиція */
  }
  100% {
    left: 0px;
    transform: rotate(-360deg);

    /* Кінцева позиція */
  }
}
