@use "./_instruments.scss" as *;
.active {
  font-weight: 800;
  &::before {
    content: "";
    position: absolute;
    z-index: 33;
    top: 24px;
    left: 50%; /* Центруємо по горизонталі */
    transform: translateX(-50%);
    border-radius: 50px 50px 0px 0px;
    height: rem(22);
    width: rem(15);
    background-color: $textWhiteColor;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &.header__item:hover {
    text-shadow: none;
    transform: scale(1);
  }
}

.transition-img {
  position: absolute;
  top: -75px;
  left: -13px;
  width: 1920px;
  transform: rotateZ(1deg);
  & img {
    position: relative;
    height: 140px;
    width: 1920px;
  }
  @media (min-width: 1440px) {
    width: 100%;
    top: -70px;
    & img {
      width: 100%;
    }
  }
}

.trn-button {
  display: block;
  position: absolute;
  top: -70px;
  left: 50%;
  width: 74px;
  height: 104px;
  z-index: 2;
  border-radius: 50px;

  background: rgb(111, 29, 27);
  background-image: url(../assets/images/arrow-down.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: button-anim 1.5s ease-in-out infinite;
  transition: all 0.5s ease-in-out 0s;
  &:hover {
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 6px 7px rgba(111, 28, 27, 0.5);
  }
  @media (max-width: 768px) {
    box-shadow: 0px 0px 8px 7px rgba(111, 28, 27, 0.5);
  }
}

@keyframes button-anim {
  0% {
    transform: translateY(-5px) translateX(-50%);
  }
  50% {
    transform: translateY(5px) translateX(-50%);
  }
  100% {
    transform: translateY(-5px) translateX(-50%);
  }
}

.st-section {
  padding-top: resizing(84, 40);
  background-color: $bodyColor;
  width: 100%;
}
.st-wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
.st-title {
  text-align: center;
  @include st-title;
  margin-bottom: resizing(16, 8);
}
.st-desc {
  text-align: center;
  @include st-desc-text;
  color: $textDarkColor;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: resizing(32, 12);
}

.arrow-prev {
  position: absolute;
  right: auto;
  left: resizing(-41, 10, 1440, 1024);
  z-index: 2;
  transform: rotate(180deg);
  @media (max-width: 425px) {
    left: 5px;
  }
}
.arrow {
  position: absolute;
  top: resizing(313, 330);
  top: resizing(313, 280, 1440, 1024);
  top: resizing(280, 260, 850, 425);
  top: resizing(280, 340, 425, 320);
  right: resizing(-41, 10, 1440, 1024);
  z-index: 999;
  margin: 2px;
  cursor: pointer;
  color: $yellowColor; // ✅ Використовуємо color для fill через currentColor
  border-radius: $borderRad;
  transition: all 0.2s ease 0s;
  @media (max-width: 425px) {
    right: 5px;
  }
  path {
    fill: $titleColor;
  }
  &:hover {
    color: rgb(255, 241, 204);
    box-shadow: 0 0 0 1.3px $titleColor;

    path {
      fill: $titleColor;
    }
    rect {
      fill: currentColor; // ✅ Тепер fill змінюється разом з color
      transition: all 0.2s ease 0s;
    }
  }
  /* &:focus {
    color: $bodyColor; // ✅ Змінюємо color, а не fill
    box-shadow: 0 0 0 1px $yellowColor;

    rect {
      fill: currentColor; // ✅ Тепер fill змінюється разом з color
      transition: all 0.2s ease 0s;
    }
    path {
      fill: $yellowColor;
    }
  }*/
}
.decor {
  position: absolute;
  top: 0;
  right: resizing(0, -150);
  z-index: 4;
  width: 356px;
  height: 356px;
  border-radius: 50%;
  background: linear-gradient(213.37deg, rgba(255, 255, 255, 0.2) 11.839%, rgba(255, 255, 255, 0) 47.119%);
  transform: rotate(175deg);
}
.decor-2 {
  position: absolute;
  bottom: -290px;
  left: resizing(-80, -230);
  z-index: 4;
  width: 568px;
  height: 568px;
  border-radius: 50%;
  background: linear-gradient(213.37deg, rgba(255, 255, 255, 0.2) 11.839%, rgba(255, 255, 255, 0) 47.119%);
}
