@use "./_instruments.scss" as *;
.active {
  font-weight: 800;
  &::before {
    content: "";
    position: absolute;
    z-index: 33;
    top: 24px;
    left: 50%; /* Центруємо по горизонталі */
    transform: translateX(-50%);
    border-radius: 50px 50px 0px 0px;
    height: rem(22);
    width: rem(15);
    background-color: $textWhiteColor;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &.header__item:hover {
    text-shadow: none;
    transform: scale(1);
  }
}

.transition-img {
  position: absolute;
  top: -75px;
  left: -13px;
  width: 1920px;
  transform: rotateZ(1deg);
  & img {
    position: relative;
    height: 140px;
    width: 1920px;
  }
}

.trn-button {
  display: block;
  position: absolute;
  top: -70px;
  left: 50%;
  width: 74px;
  height: 104px;
  z-index: 2;
  border-radius: 50px;

  background: rgb(111, 29, 27);
  background-image: url(../assets/images/arrow-down.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: button-anim 1.5s ease-in-out infinite;
  transition: all 0.5s ease-in-out 0s;
  &:hover {
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 6px 7px rgba(111, 28, 27, 0.5);
  }
  @media (max-width: 768px) {
    box-shadow: 0px 0px 8px 7px rgba(111, 28, 27, 0.5);
  }
}

@keyframes button-anim {
  0% {
    transform: translateY(-5px) translateX(-50%);
  }
  50% {
    transform: translateY(5px) translateX(-50%);
  }
  100% {
    transform: translateY(-5px) translateX(-50%);
  }
}

.st-section {
  padding-top: resizing(84, 40);
  background-color: $bodyColor;
  width: 100%;
}
.st-wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
.st-title {
  text-align: center;
  @include st-title;
  margin-bottom: resizing(16, 8);
}
.st-desc {
  text-align: center;
  @include st-desc-text;
  color: $textDarkColor;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: resizing(32, 12);
}
