@use "sass:math";
@use "./_reset";
@use "_instruments" as *;
@use "./uniq-class" as *;
@use "./Header";
@use "./Block1";
@use "./Block2";
@use "./Block3";
@use "./Block4";
@use "./Block5";
@use "./Block6";
@use "./Block7";
@use "./about-us";
@use "./_Footer.scss";
@use "swiper/scss/navigation";
@use "swiper/scss";
body {
  font-family: $fontMontserat;
  line-height: 1;
  background-color: $bodyColor;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
