@use "sass:math";
@use "./_reset";
@use "_instruments" as *;
@use "./Header/header";

body {
  font-family: $fontMontserat;
  line-height: 1;
  background-color: $bodyColor;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
